/** {/*resetar configurações
  margin: 0;
  padding: 0;
  border: 0;
}*/


body.homePrimary{
   /*background-color: #1a1a1b;
   height: 100vh;
   width: 100vh;*/
   background-image: url('../img/tec10.jpg');
   background-size: 100% ;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;/*imagem de fundo fica fixa, mesmo que o conteúdo se mova*/
   background-size: cover /*imagem ocupa a tela toda, mesmo que pra isso corte a lateral*/
}
.homeSecond{
  background-color: #f1f4f5d3;
}
.header{
  background-color: #ffffffe3;
  width: 70%;
  display: block;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  position: relative;
}
h1.titlePrimary{
  color: #aabad6;
  font: bolder 20pt;
  font-family: 'New Tegomin', serif;
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
  background-color: #05183b;
  box-shadow: 15px 8px 15px grey;
  padding: 15px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
h1.titleSecond{
  color: #124296;
  font: bold 20pt;
  font-family: 'New Tegomin', serif;
  font-family: 'Tenor Sans', sans-serif;
  text-align: center;
  background-color: #aec2e4e7;
  box-shadow: 15px 8px 15px grey;
  padding: 15px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.w40{
  width: 500px;
  
}
.w40>a{
  display: none;
  transition: 0.9s ease-out;
}
.w40:hover>a{
  display: block;
  transition: 1.0s ease-out;
}
/*.indice{
  height: 100vh;
}*/
.menu, .modulo, .exercicio, .desafio, .extra, .seliga{
  list-style-type: none;
  font: bolder 16px;
  font-size: large;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-family: 'New Tegomin', serif;
  font-family: 'Tenor Sans', sans-serif;
  
}
/*.none{
  display: none;
}
.none:hover > a{
  display: block;
}*/
.modulo:hover, .exercicio:hover, .desafio:hover, .extra:hover, .seliga:hover{
  list-style-type: none;
  font: bolder 15pt;  
  font-family: 'New Tegomin', serif;
  font-family: 'Tenor Sans', sans-serif;
  font-size: x-large;
  padding: 10px;
  color: #800505;
  transition: 2.0s ease-out;
}
.subMenu{
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: normal 14px Arial;
  padding-left: 20px;
  margin: auto;
  color: #2d3147;
}
.subMenu:hover{
  cursor: pointer;
  display: flex;
  flex-direction: column;
font: normal 16px Arial;
  padding-left: 20px;
  margin: auto;
  color: darkblue;
}

/*----------INÍCIO PÁGINAS INTERNAS----------------*/
.container{
  background-color: #dedee4ec;
  padding: 20px;
}
.imgHome{
  display: block; /*Centralizar a imagem*/
  margin-left: auto;/*Centralizar a imagem*/
  margin-right: auto;/*Centralizar a imagem*/
  /*width: 400px;*/
  /*height: 250px;*/
}
.conteudo{
  background-color: #232831ee;
  padding: 10px;
  margin: 20px;
  border: solid 1px #9e9898;
  height: auto;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
}
.conteudo2{
  background-color: #f8f6f6c0;
  padding: 10px;
  margin: 20px;
  border: solid 1px #e5eaec;
  height: auto;
  color: #000;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
}
.refImg{
  font: 9pt Arial;
  color: #7a7a7a;
  /*text-decoration: none;*/
}
.figureImg{
  text-align:center;
}
.codigo{
  background-color: #faf6f6;
  color: #000;
  padding-top: 5px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
   }
 /* pre{
  display: flex;
  flex-wrap: wrap;
  }*/
.codigo2{
  background-color: #000000e1;
  color: #fff;
  padding-top: 5px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lista{
  list-style-type: disc;
}
.subLista{
  list-style-type: circle;
  
}
.listaNone{
  list-style: none;
}
h3, h2{
  color: #266ae7;
}
h4{
  color: #2a7eb9;
}
.voltarImg{
  vertical-align: middle;
  width: 15px;
  margin-right: 5px;
}
.voltarLink{
  text-decoration: none;
  vertical-align: middle;
  color: #000;
  font-family: 'Tenor Sans', sans-serif;
}
.voltarLink:hover{
  text-decoration: none;
  vertical-align: middle;
  color: #000;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: bolder;
}
span.destaque{
  color: #f396a1; 
  font-size: medium;
}
code.destaque{
  color: #b44a54; 
  font-size: 16px;
  font-weight: bold;
  background-color: #f5c0c6;
  padding-left: 1px;
  padding-right: 1px;
}
em.destaque{
  font-style: normal;
  color: #87a9ee; 
  font-weight: bold;
}
.link{
  /*text-decoration: none;*/
  color: #fff;
}
.link:hover{
  text-decoration: none;
  color: #97b3eb;
  font-size: 17PX;
}
.link2{
  /*text-decoration: none;*/
  color: #2a2a2b;
}
.link2:hover{
  text-decoration: none;
  color: #140374;
  font-size: 17PX;
}
.table, th, td{
  border: 1px solid #fff;
}

/*----------FIM PÁGINAS INTERNAS----------------*/

.listSocialMedia{
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.linkSocialMedia{
  text-decoration: none;
}
footer{
  background-color: #b3b3c4ef;
  color: #5959ac;
  text-align: center;
  padding-top: 1px;
  margin-bottom: 0%;
  /*position: absolute;
  bottom:45px;
  left: auto;*/
}
.copy{
  padding-top: 6px;
  color: #fff;
  font-size: small;
}

/*----------INICIO IMAGENS SLIDE----------------*/
/** { margin: 0; padding: 0; }*/

.slider {
  display: block;
  height: 650px;
  width: 800px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 600px;
  width: 100%;
  vertical-align: top;
}
.slider video {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}
.slider input{
  display: none;
}
.slider label {
  background-color: #e8f715;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 50px;
}
.slider li:nth-child(2) label {
  left: 80px;
}
.slider li:nth-child(3) label {
  left: 110px;
}
.slider li:nth-child(4) label {
  left: 140px;
}
.slider li:nth-child(5) label {
  left: 170px;
}
.slider li:nth-child(6) label {
  left: 200px;
}
.slider li:nth-child(7) label {
  left: 230px;
}
.slider li:nth-child(8) label {
  left: 260px;
}
.slider li:nth-child(9) label {
  left: 290px;
}
.slider li:nth-child(10) label {
  left: 320px;
}
.slider li:nth-child(11) label {
  left: 350px;
}
.slider li:nth-child(12) label {
  left: 380px;
}
.slider li:nth-child(13) label {
  left: 410px;
}
.slider li:nth-child(14) label {
  left: 440px;
}
.slider li:nth-child(15) label {
  left: 470px;
}
.slider li:nth-child(16) label {
  left: 500px;
}
.slider li:nth-child(17) label {
  left: 530px;
}
.slider li:nth-child(18) label {
  left: 560px;
}
.slider li:nth-child(19) label {
  left: 10px;
}

.slider img, .slider video {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img, .slider li input:checked ~ video {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
/*----------FIM IMAGENS SLIDE----------------*/



