body{
    padding-top: 50px;
    /* background-color: #3c022398; */
}
.inicio{
    background-color: #3c022398;
}
h1{
    margin-bottom: 50px;
    padding: 15px 0;
    background-color: #f3d4d6;
    color: #b64e5a;
    }
.principal{
    text-align: center;
    padding: 15px 5px;
}
nav{
    padding-left: 20px;
}
img{
    max-width: 55%;
}
