h1{
    color: #1147ac;
}
p{
    font: normal 13pt Arial;
}
.content{
    margin: 50px;
    padding: 50px;
}
.img{
    box-shadow: 20px 10px 10px grey;
}
.list{
    text-decoration: none;
    text-align: center;
    color: #000;
}
ul{
    list-style-type: none;
}